@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.companyName{
    font-family: 'Corinthia', cursive;
    font-size: 72px;
}

.banner{
    background-color: #C29D9D;
    width: 1000px;
    height: 300px;
    border-radius: 0 0 100% 100%;
    position: relative;
}

.bannerUpper{
    top: -20px;
}

.logo{
    margin: 0 auto;
}

.header-text{
    font-size: 20px;
}