@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    font-family: "Montserrat", sans;
}

body{
    margin: 0;
    background-color: #725a46;
}

.header{
    background-color: white;
}

.companyName{
    font-family: 'Corinthia', cursive;
    font-size: 72px;
}

.banner{
    background-color: #C29D9D;
    width: 1000px;
    height: 300px;
    border-radius: 0 0 100% 100%;
    position: relative;
}

.bannerUpper{
    top: -20px;
}

.logo{
    margin: 0 auto;
}

.header-text{
    font-size: 20px;
}

.logo-home{
    border: 5px solid black;
    border-radius: 100%;
}

.active{
    color: #c93e3e;
}

.link-black{
    color: black;
}

.link-black:hover{
    color: #c93e3e;
    transition: all 0.5s ease;
}

.hero img{
    width: 100%;
}

.hero-text{
    font-size: 32px;
    text-align: center;
    background-color: #C29D9D75;
    color: white;
    width: 50vw;
    padding:  20px;
    border-radius: 25px;;
    position: relative;
    top: -100px;
    left: 25vw;
}